In [1]:
import pandas as pd

df=pd.read_csv("../data/codeforces_data.csv")
df

,id,aliases,contest_id,contest_name,contest_type,contest_start,contest_start_year,index,time_limit,memory_limit,...,editorial,rating,tags,testset_size,official_tests,official_tests_complete,input_mode,generated_checker,executable,generated_tests
0,2063/A,NaN,2063,Codeforces Round 1000 (Div. 2),CF,1737547500,2025,A,1.0,256.0,...,It is easy to see that two integers $$$l$$$ an...,800.0,['math' 'number theory'],4,[{'input': '6\r\n1 2\r\n1 10\r\n49 49\r\n69 42...,False,stdio,NaN,True,29
1,2063/B,NaN,2063,Codeforces Round 1000 (Div. 2),CF,1737547500,2025,B,1.5,256.0,...,"To solve this problem, it is important to obse...",1100.0,['constructive algorithms' 'data structures' '...,13,[{'input': '6\r\n2 1 1\r\n2 1\r\n3 2 3\r\n1 2 ...,False,stdio,NaN,True,24
2,2063/C,NaN,2063,Codeforces Round 1000 (Div. 2),CF,1737547500,2025,C,2.0,256.0,...,The main observation behind this task is that ...,1600.0,['brute force' 'data structures' 'dfs and simi...,28,[{'input': '3\r\n2\r\n1 2\r\n4\r\n1 2\r\n2 3\r...,False,stdio,NaN,True,26
3,2063/D,NaN,2063,Codeforces Round 1000 (Div. 2),CF,1737547500,2025,D,2.0,256.0,...,"Whenever the operation is performed, your scor...",2000.0,['binary search' 'brute force' 'data structure...,30,[{'input': '5\r\n1 3\r\n0\r\n0 1 -1\r\n2 4\r\n...,False,stdio,NaN,True,29
4,2063/E,NaN,2063,Codeforces Round 1000 (Div. 2),CF,1737547500,2025,E,2.0,512.0,...,"In this editorial, we will denote the depth of...",2300.0,['data structures' 'dfs and similar' 'dp' 'gre...,43,[{'input': '4\r\n3\r\n1 2\r\n1 3\r\n3\r\n1 2\r...,False,stdio,NaN,True,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10019,1771/D,NaN,1771,Codeforces Round 837 (Div. 2),CF,1670772900,2022,D,1.0,256.0,...,Let's use dynamic programming method. Let $$$d...,2100.0,['brute force' 'data structures' 'dfs and simi...,51,[{'input': '2\r\n5\r\nabaca\r\n1 2\r\n1 3\r\n3...,False,stdio,NaN,True,26
10020,1771/E,NaN,1771,Codeforces Round 837 (Div. 2),CF,1670772900,2022,E,2.0,256.0,...,Let's preprocess the following data for each c...,2500.0,['brute force' 'dp' 'implementation' 'two poin...,40,"[{'input': '2 3\r\n#m.\r\n.#.\r\n', 'output': ...",False,stdio,NaN,True,24
10021,1771/F,NaN,1771,Codeforces Round 837 (Div. 2),CF,1670772900,2022,F,1.5,256.0,...,Note that we were asked to solve the problem i...,2500.0,['binary search' 'bitmasks' 'data structures' ...,75,[{'input': '5\r\n1 2 1 2 2\r\n6\r\n1 2\r\n0 2\...,False,stdio,NaN,True,27
10022,1496/A,NaN,1496,Codeforces Round 706 (Div. 2),CF,1615377900,2021,A,1.0,256.0,...,"If $$$k=0$$$ or $$$s[1,k]+s[n-k+1,n]$$$ is a p...",900.0,['brute force' 'constructive algorithms' 'gree...,5,[{'input': '7\r\n5 1\r\nqwqwq\r\n2 1\r\nab\r\n...,False,stdio,NaN,True,28
10023,1496/B,NaN,1496,Codeforces Round 706 (Div. 2),CF,1615377900,2021,B,1.0,256.0,...,"Let $$$a=\max(S),b=\operatorname{mex}(S)$$$.\n...",1100.0,['math'],14,[{'input': '5\r\n4 1\r\n0 1 3 4\r\n3 1\r\n0 1 ...,False,stdio,NaN,True,21

In [2]:
df.columns

Index(['id', 'aliases', 'contest_id', 'contest_name', 'contest_type',
       'contest_start', 'contest_start_year', 'index', 'time_limit',
       'memory_limit', 'title', 'description', 'input_format', 'output_format',
       'interaction_format', 'note', 'examples', 'editorial', 'rating', 'tags',
       'testset_size', 'official_tests', 'official_tests_complete',
       'input_mode', 'generated_checker', 'executable', 'generated_tests'],
      dtype='object')

dropping features not appropriate for the task.

In [3]:
useful_df=df.drop(columns=['contest_id', 'contest_name', 'contest_type','contest_start', 'contest_start_year','interaction_format','editorial',
                           'testset_size', 'official_tests', 'official_tests_complete','aliases','id',
                            'input_mode', 'generated_checker', 'executable', 'generated_tests','note','index','examples'])

In [4]:
useful_df.columns

Index(['time_limit', 'memory_limit', 'title', 'description', 'input_format',
       'output_format', 'rating', 'tags'],
      dtype='object')

In [5]:
df['note'][0]

'On the first test case, the given segment is $$$[1,2]$$$. The segments contained in $$$[1,2]$$$ are as follows.\n\n- $$$[1,1]$$$: This segment is coprime, since the numbers $$$1$$$ and $$$1$$$ are coprime, and this segment does not contain any other segment inside. Thus, $$$[1,1]$$$ is minimal coprime.\n- $$$[1,2]$$$: This segment is coprime. However, as it contains $$$[1,1]$$$, which is also coprime, $$$[1,2]$$$ is not minimal coprime.\n- $$$[2,2]$$$: This segment is not coprime because $$$2$$$ and $$$2$$$ share $$$2$$$ positive common divisors: $$$1$$$ and $$$2$$$.\n\nTherefore, the segment $$$[1,2]$$$ contains $$$1$$$ minimal coprime segment.'

Dropping null value.

In [6]:
useful_df.isnull().sum()

time_limit        30
memory_limit      30
title              0
description       43
input_format     162
output_format    282
rating           257
tags               0
dtype: int64

In [7]:
df_clean = useful_df.dropna(subset=["rating"]).copy()

In [8]:
df_clean.value_counts

<bound method DataFrame.value_counts of        time_limit  memory_limit                              title  \
0             1.0         256.0                    Minimal Coprime
1             1.5         256.0                 Subsequence Update
2             2.0         256.0                 Remove Exactly Two
3             2.0         256.0                Game With Triangles
4             2.0         512.0                      Triangle Tree
...           ...           ...                                ...
10019         1.0         256.0  Hossam and (sub-)palindromic tree
10020         2.0         256.0                Hossam and a Letter
10021         1.5         256.0     Hossam and Range Minimum Query
10022         1.0         256.0                          Split it!
10023         1.0         256.0                        Max and Mex

                                             description  \
0      Today, Little John used all his savings to buy...
1      After Little John borrowed expansion screws fr...
2      Recently, Little John got a tree from his aunt...
3      Even Little John needs money to buy a house. B...
4      One day, a giant tree grew in the countryside....
...                                                  ...
10019  Hossam has an unweighted tree $$$G$$$ with let...
10020  Hossam bought a new piece of ground with lengt...
10021  Hossam gives you a sequence of integers $$$a_1...
10022  Kawashiro Nitori is a girl who loves competiti...
10023  You are given a multiset $$$S$$$ initially con...

                                            input_format  \
0      Each test contains multiple test cases. The fi...
1      Each test contains multiple test cases. The fi...
2      Each test contains multiple test cases. The fi...
3      Each test contains multiple test cases. The fi...
4      Each test contains multiple test cases. The fi...
...                                                  ...
10019  The first line contains one integer $$$t$$$ ($...
10020  The first line of the input contains two integ...
10021  The first line of the input contains one integ...
10022  The input consists of multiple test cases. The...
10023  The input consists of multiple test cases. The...

                                           output_format  rating  \
0      For each test case, output the number of minim...   800.0
1      For each test case, output the minimum value o...  1100.0
2      For each test case, output the maximum number ...  1600.0
3      For each test case, given that the maximum num...  2000.0
4      For each test case, output the answer on a sep...  2300.0
...                                                  ...     ...
10019  For each test case output one integer — the le...  2100.0
10020  Print a single integer — the maximum number of...  2500.0
10021  For each query, print the smallest number that...  2500.0
10022  For each test case, print "YES" (without quote...   900.0
10023  For each test case, print the number of distin...  1100.0

                                                    tags
0                               ['math' 'number theory']
1      ['constructive algorithms' 'data structures' '...
2      ['brute force' 'data structures' 'dfs and simi...
3      ['binary search' 'brute force' 'data structure...
4      ['data structures' 'dfs and similar' 'dp' 'gre...
...                                                  ...
10019  ['brute force' 'data structures' 'dfs and simi...
10020  ['brute force' 'dp' 'implementation' 'two poin...
10021  ['binary search' 'bitmasks' 'data structures' ...
10022  ['brute force' 'constructive algorithms' 'gree...
10023                                           ['math']

[9767 rows x 8 columns]>

As the dataset does not contain classes it is made using rating provided.

In [9]:
def rating_to_difficulty(r):
    
    if r <= 1200:
        return "Easy"
    elif r <= 1900:
        return "Medium"
    else:
        return "Hard"
df_clean["difficulty"] = df_clean["rating"].apply(rating_to_difficulty)
df_clean["difficulty"].value_counts(normalize=True)

difficulty
Hard      0.433193
Medium    0.321286
Easy      0.245521
Name: proportion, dtype: float64

combining all text data

In [10]:
df_clean["combined_text"] = (
    df_clean['title'].fillna('') + ' ' +
    df_clean['description'].fillna('') + ' ' +
    df_clean['input_format'].fillna('') + ' ' +
    df_clean['output_format'].fillna('')
)

In [11]:
df_clean['combined_text'][34]

'Deterministic Heap (Hard Version) This is the hard version of the problem. The difference between the two versions is the definition of deterministic max-heap, time limit, and constraints on $$$n$$$ and $$$t$$$. You can make hacks only if both versions of the problem are solved.\n\nConsider a perfect binary tree with size $$$2^n - 1$$$, with nodes numbered from $$$1$$$ to $$$2^n-1$$$ and rooted at $$$1$$$. For each vertex $$$v$$$ ($$$1 \\le v \\le 2^{n - 1} - 1$$$), vertex $$$2v$$$ is its left child and vertex $$$2v + 1$$$ is its right child. Each node $$$v$$$ also has a value $$$a_v$$$ assigned to it.\n\nDefine the operation $$$\\mathrm{pop}$$$ as follows:\n\n1. initialize variable $$$v$$$ as $$$1$$$;\n2. repeat the following process until vertex $$$v$$$ is a leaf (i.e. until $$$2^{n - 1} \\le v \\le 2^n - 1$$$);   among the children of $$$v$$$, choose the one with the larger value on it and denote such vertex as $$$x$$$; if the values on them are equal (i.e. $$$a_{2v} = a_{2v + 1}$$$), you can choose any of them;  assign $$$a_x$$$ to $$$a_v$$$ (i.e. $$$a_v := a_x$$$);  assign $$$x$$$ to $$$v$$$ (i.e. $$$v := x$$$);\n3. assign $$$-1$$$ to $$$a_v$$$ (i.e. $$$a_v := -1$$$).\n\nThen we say the $$$\\mathrm{pop}$$$ operation is deterministic if there is a unique way to do such operation. In other words, $$$a_{2v} \\neq a_{2v + 1}$$$ would hold whenever choosing between them.\n\nA binary tree is called a max-heap if for every vertex $$$v$$$ ($$$1 \\le v \\le 2^{n - 1} - 1$$$), both $$$a_v \\ge a_{2v}$$$ and $$$a_v \\ge a_{2v + 1}$$$ hold.\n\nA max-heap is deterministic if the $$$\\mathrm{pop}$$$ operation is deterministic to the heap when we do it for the first and the second time.\n\nInitially, $$$a_v := 0$$$ for every vertex $$$v$$$ ($$$1 \\le v \\le 2^n - 1$$$), and your goal is to count the number of different deterministic max-heaps produced by applying the following operation $$$\\mathrm{add}$$$ exactly $$$k$$$ times:\n\n- Choose an integer $$$v$$$ ($$$1 \\le v \\le 2^n - 1$$$) and, for every vertex $$$x$$$ on the path between $$$1$$$ and $$$v$$$, add $$$1$$$ to $$$a_x$$$.\n\nTwo heaps are considered different if there is a node which has different values in the heaps.\n\nSince the answer might be large, print it modulo $$$p$$$. Each test contains multiple test cases. The first line contains the number of test cases $$$t$$$ ($$$1 \\le t \\le 50$$$). The description of the test cases follows.\n\nThe first line of each test case contains three integers $$$n, k, p$$$ ($$$2 \\le n \\le 100$$$, $$$1 \\le k \\le 500$$$, $$$10^8 \\le p \\le 10^9$$$, $$$p$$$ is a prime).\n\nIt is guaranteed that the sum of $$$n$$$ does not exceed $$$100$$$ and the sum of $$$k$$$ over all test cases does not exceed $$$500$$$. For each test case, output a single line containing an integer: the number of different deterministic max-heaps produced by applying the aforementioned operation $$$\\mathrm{add}$$$ exactly $$$k$$$ times, modulo $$$p$$$.'

In [12]:
df_clean['combined_text'] = df_clean['combined_text'].str.replace(r'[_]+', ' ', regex=True)
df_clean['combined_text'] = df_clean['combined_text'].str.replace(r'[^\w\s]',' ', regex=True)

In [13]:
import nltk

nltk.download('punkt')
nltk.download('punkt_tab')
from nltk.tokenize import word_tokenize

df_clean['tokens'] = df_clean['combined_text'].apply(word_tokenize)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Akhil\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\Akhil\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

In [14]:
df_clean['tokens']

0        [Minimal, Coprime, Today, Little, John, used, ...
1        [Subsequence, Update, After, Little, John, bor...
2        [Remove, Exactly, Two, Recently, Little, John,...
3        [Game, With, Triangles, Even, Little, John, ne...
4        [Triangle, Tree, One, day, a, giant, tree, gre...
                               ...
10019    [Hossam, and, sub, palindromic, tree, Hossam, ...
10020    [Hossam, and, a, Letter, Hossam, bought, a, ne...
10021    [Hossam, and, Range, Minimum, Query, Hossam, g...
10022    [Split, it, Kawashiro, Nitori, is, a, girl, wh...
10023    [Max, and, Mex, You, are, given, a, multiset, ...
Name: tokens, Length: 9767, dtype: object

removing stopwords while keeping the ones which might me useful and providing meaning for the problem

In [15]:
import nltk
nltk.download('stopwords')

from nltk.corpus import stopwords

stop_words = set(stopwords.words('english'))
keep_words = {
    'if', 'no', 'not', 'nor', 'only', 'exists',
    'more', 'less', 'most', 'least', 'few', 'many',
    'find', 'print', 'given',
    'graph', 'path', 'edge', 'vertex', 'simple', 'constraint'
}

stop_words = stop_words - keep_words
import string
df_clean['tokens_clean'] = df_clean['tokens'].apply(lambda t: [w for w in t if w not in stop_words and w not in string.punctuation])

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Akhil\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [16]:
df_clean['tokens_clean'][0]

['Minimal',
 'Coprime',
 'Today',
 'Little',
 'John',
 'used',
 'savings',
 'buy',
 'segment',
 'He',
 'wants',
 'build',
 'house',
 'segment',
 'A',
 'segment',
 'positive',
 'integers',
 'l',
 'r',
 'called',
 'coprime',
 'if',
 'l',
 'r',
 'coprime',
 'text',
 'A',
 'coprime',
 'segment',
 'l',
 'r',
 'called',
 'minimal',
 'coprime',
 'if',
 'not',
 'contain',
 'text',
 'coprime',
 'segment',
 'not',
 'equal',
 'To',
 'better',
 'understand',
 'statement',
 'refer',
 'notes',
 'Given',
 'l',
 'r',
 'segment',
 'positive',
 'integers',
 'find',
 'number',
 'minimal',
 'coprime',
 'segments',
 'contained',
 'l',
 'r',
 'Each',
 'test',
 'contains',
 'multiple',
 'test',
 'cases',
 'The',
 'first',
 'line',
 'contains',
 'number',
 'test',
 'cases',
 '1',
 'le',
 'le',
 '100',
 'The',
 'description',
 'test',
 'cases',
 'follows',
 'The',
 'only',
 'line',
 'test',
 'case',
 'consists',
 'two',
 'integers',
 'l',
 'r',
 '1',
 'le',
 'l',
 'le',
 'r',
 'le',
 '10',
 '9',
 'For',
 'test',
 'case',
 'output',
 'number',
 'minimal',
 'coprime',
 'segments',
 'contained',
 'l',
 'r',
 'separate',
 'line']

count of algo words might be useful as it topic of question sometime decide difficulty like more topics involved means tougher question.

In [17]:
algo_keywords = {
    'dp', 'greedy', 'binary', 'search', 'dfs', 'bfs',
    'dijkstra', 'segment', 'tree', 'fenwick',
    'bitmask', 'combinatorics', 'modulo',
    'prime', 'graph', 'shortest', 'lca'
}

df_clean['algo_count'] = df_clean['tokens_clean'].apply(lambda t: len(set(t) & algo_keywords))

In [18]:
df_clean['rating'].astype(int)

0         800
1        1100
2        1600
3        2000
4        2300
         ...
10019    2100
10020    2500
10021    2500
10022     900
10023    1100
Name: rating, Length: 9767, dtype: int32

we can clearly see as count of algo count increases rating of the problem increases.

In [19]:
df_clean.groupby('algo_count')[['rating']].mean()

                 rating
algo_count
0           1720.512821
1           2150.876314
2           2358.823529
3           2499.230769
4           2489.473684
5           2300.000000

In [20]:
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')

lemmatizer = WordNetLemmatizer()

df_clean['tokens_lemma'] = df_clean['tokens_clean'].apply(lambda t: [lemmatizer.lemmatize(w) for w in t])

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Akhil\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [21]:
df_clean['word_count']=df_clean['tokens'].apply(len)

In [22]:
df_clean['word_count']

0        160
1        308
2        268
3        443
4        334
        ...
10019    412
10020    328
10021    270
10022    241
10023    273
Name: word_count, Length: 9767, dtype: int64

DIfficulty of problem increasing with increase of word count.

In [23]:
df_clean.groupby('difficulty')[['word_count']].mean()

            word_count
difficulty
Easy        245.994162
Hard        321.413141
Medium      284.136393

In [24]:
df_clean['token_count']=df_clean['tokens_clean'].apply(len)

count of complexity terms might be useful as it topic of question sometime decide difficulty  .

In [25]:
complexity_words = {
    'efficient', 'optimize', 'fast', 'logarithmic',
    'linear', 'quadratic', 'time' ,'complexity',
    'constraints', 'limit','limits','bound','maximum', 'minimum', 'time limit',
    'upper bound'
}

df_clean['complexity_terms'] = df_clean['tokens'].apply(
    lambda t: len(set(t) & complexity_words)
)

increase in difficulty with increase in complexity terms.

In [27]:
df_clean.groupby('complexity_terms')[['rating']].mean()

                       rating
complexity_terms
0                 1823.503326
1                 1851.191432
2                 1941.200000
3                 2082.083333
4                 2310.000000
5                 2250.000000

Preparing text for applying tfidf

In [28]:
df_clean['tfidf_text'] = df_clean['tokens_lemma'].apply(lambda x: ' '.join(x))

saving all preprocessed data

In [29]:
df_clean.to_pickle('../data/preprocessed_data.pkl')